h1 {
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
}

body {
    background-image: url(/img/beach.jpg);
    color: black;
    font-family: Open Sans;
    font-size: 16px;
    position: relative;
    height: 100vh;
    font-weight: 400;

    margin-top: 2px;
    width:100%;
    padding-left: 5px;
    height: 35px;
}

div {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    border: auto;
    border-radius: 5px; /*que las esquinas no sean cuadradas sino que sean un poco redondas*/
    background-color: azure;   
}